.album-container {
    position: relative;

    @media screen and (max-width: 800px) {
        flex-direction: column;
    }
}

.album-description {
    position: fixed;
    width: 30rem;
    left: 1rem;
    padding: 1rem;

    @media screen and (max-width: 800px) {
        width: 100%;
        position: relative;
        left: 0;
        padding: 4rem 2rem;
    }
}


.album-images {
    width: 70%;
    height: 100%;
    margin-left: 35rem;
    display: flex;

    @media screen and (max-width: 800px) {
        width: 100%;
        margin-left: 0;
    }

    &__image {
        max-width: 80rem;
        max-height: 100%;
        margin: 1rem;
    }
}